  .background-image {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
      z-index: -2;
  }

  .bodyMenu {
      font-family: "Roboto Slab", serif;
      height: 125vh;
      position: relative;
      z-index: 0;
  }

  .capa {
      background-color: rgba(0, 0, 0, 0.6);
      z-index: 0;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }

  .card-title {
      font-weight: bold;
      font-size: 1.2rem;
  }

  .card-text {
      font-size: 0.95rem;
  }

  .card-img-top {
      object-fit: cover;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
  }


  .card-small {
      max-width: 100%;
      font-size: 0.85rem;
  }

  .card-small .card-title {
      font-size: 1rem;
  }

  .card-small .btn {
      padding: 0.4rem 0.75rem;
      font-size: 0.85rem;
  }

  .headerIndex {
      z-index: 2;
      z-index: 100 !important;
      position: relative !important;
  }

  .content {
      flex-direction: column;
      z-index: 1;
      flex: 1;
      justify-content: space-around;
  }

  .mainMenu {
      margin-top: 3%;
  }